{$AXON_DOMAIN} {
	reverse_proxy axon:9999

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		X-XSS-Protection "0"
		Strict-Transport-Security "max-age=63072000; includeSubDomains"
		-Server
	}
}
